/* 
button{
    background-color: blue;
    color: blue;
    border: none;
    border-radius: 5px;
    

}

#btCadastrar{
    color:blueviolet;
} */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
display: flex;
flex-direction: column;

}

